@import url('/css/general-sans.css');
@import url('/css/bespoke-stencil.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* options for general font */
/* 
font-family: 'GeneralSans-Variable';
font-family: 'GeneralSans-VariableItalic';
font-family: 'GeneralSans-Extralight';
font-family: 'GeneralSans-ExtralightItalic';
font-family: 'GeneralSans-Light';
font-family: 'GeneralSans-LightItalic';
font-family: 'GeneralSans-Regular';
font-family: 'GeneralSans-Italic';
font-family: 'GeneralSans-Medium';
font-family: 'GeneralSans-MediumItalic';
font-family: 'GeneralSans-Semibold';
font-family: 'GeneralSans-SemiboldItalic';
font-family: 'GeneralSans-Bold';
font-family: 'GeneralSans-BoldItalic';
 */


/* options for bespoke stencil */

/* ```
font-family: 'BespokeStencil-Variable';
font-family: 'BespokeStencil-VariableItalic';
font-family: 'BespokeStencil-Light';
font-family: 'BespokeStencil-LightItalic';
font-family: 'BespokeStencil-Regular';
font-family: 'BespokeStencil-Italic';
font-family: 'BespokeStencil-Medium';
font-family: 'BespokeStencil-MediumItalic';
font-family: 'BespokeStencil-Bold';
font-family: 'BespokeStencil-BoldItalic';
font-family: 'BespokeStencil-Extrabold';
font-family: 'BespokeStencil-ExtraboldItalic';
``` */