.pageWrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  padding: 30px 80px;
  background-image: url('/images/bg-light.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.secondWrapper {
  background-image: url('/images/brown-bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.imgsWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.manImg {
  position: relative;
  z-index: 2;
}

.armImg {
  position: absolute;
  right: 90px;
  bottom: 420px;
  z-index: 1;
}

.fistImg {
  position: absolute;
  right: 450px;
  bottom: 100px;
  z-index: 1;
}

.contentWrapper {
  padding-top: 130px;
  padding-left: 120px;
  position: relative;
  z-index: 3;
}

.btnWrapper {
  display: flex;
  gap: 20px;
}

.contentWrapper h1 span {
  color: #A5564F;
  font-size: 80px;
  line-height: 104px;
  display: block;
}

.contentWrapper h1 {
  color: #FFF;
  font-size: 120px;
  line-height: 144px;
  font-family: 'BespokeStencil-Extrabold';
  font-weight: 800;
}

.contentWrapper p {
  color: #D9D9D9;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  font-family: 'GeneralSans-Medium';
  max-width: 518px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.btnWrapper button {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mintBtn:active,
.connectBtn:active {
  transform: translateY(2px);
}

.mintBtn:hover,
.connectBtn:hover {
  background-color: rgba(255, 255, 255, 0.931);

}

.priceBtn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  font-family: 'GeneralSans-Medium';
  background-color: transparent;

  border: 2px solid rgba(255, 255, 255, 0.40);
  background: rgba(183, 43, 43, 0.05);
  backdrop-filter: blur(5px);
}

.mintBtn {
  background-color: white;
  color: #000;
  font-family: 'GeneralSans-Bold';
  font-weight: 700;
  font-size: 18px;
  backdrop-filter: blur(5px);
  border: none;
}

.connectBtn {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media(max-width:1550px) {
  .pageWrapper {
    padding: 20px 54px;
  }

  .manImg {
    width: 502px;
    height: 435px;
  }

  .fistImg {
    width: 273px;
    height: 323px;
    right: 310px;
    bottom: 80px;
  }

  .armImg {
    width: 241px;
    height: 293px;
    bottom: 300px;
    right: 70px
  }



  .contentWrapper h1 span {

    font-size: 54px;
    line-height: 60px;
  }

  .contentWrapper h1 {

    font-size: 80px;
    line-height: 96px;

  }

  .contentWrapper p {
    font-size: 16px;
    max-width: 518px;
    margin-top: 14px;
    margin-bottom: 40px;
  }

  .contentWrapper {
    padding-top: 85px;
    padding-left: 80px;

  }
}

@media (max-width:768px) {
  .pageWrapper {
    padding: 0;
  }

  .pageWrapper {
    display: flex;
    justify-content: center;
  }

  .contentWrapper {
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btnWrapper {
    width: 100%;
    flex: 1;
    justify-content: start;
  }

  .contentWrapper {
    margin-top: 70px;
  }

  .contentWrapper h1 span {
    font-size: 32px;
    line-height: 35px;
  }

  .contentWrapper h1 {
    font-size: 50px;
    line-height: 57px;
  }

  .contentWrapper p {
    font-size: 16px;
    line-height: 22px;
    max-width: 300px;

  }

  .btnWrapper button {
    width: 125px;
    height: 45px;
  }

  .priceBtn {
    font-size: 14px;
  }

  .mintBtn {
    font-size: 14px;
  }

  .manImg {
    width: 100vw;
    height: auto;
  }

  .fistImg {
    width: 150px;
    height: auto;
    left: -40px;
    bottom: 80px;
  }

  .armImg {
    width: 150px;
    height: auto;
    bottom: 130px;
    right: -30px;
    rotate: 15deg;
  }

  .imgsWrapper {
    max-width: 100vw;
    overflow: hidden;
  }

  .secondWrapper {
    background-image: url('/images/brown-bg-mob.png');
    border-radius: 0px;
  }


}